<p style="color: green"><%= notice %></p>

<h1>Ключові слова</h1>

<div id="News">
  <table class="table table table-striped table table-bordered table table-hover">
    <thead class="thead-dark">
    <tr>
      <th>Ключове слово</th>
      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody>
    <% @keywords.each do |keyword| %>
      <tr>
        <td><%= keyword.keyword %></td>
        <td>
          <%#= link_to "Редагувати", edit_post_path(post), class:"btn btn-secondary" %>
          <%= link_to "Редагувати", keyword_path(keyword), class: "btn btn-danger", method: :delete, data: { confirm: "Вы уверены?" } %>
          <%#= link_to "Show", patient %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<!--<div id="posts">-->
<%# @posts.each do |post| %>
<%#= render post %>
<!--    <p>-->
<%#= link_to "Детальніше", post %>
<!--    </p>-->
<%# end %>
<!--</div>-->

<%= link_to "Додати нове ключове слово", new_keyword_path %>
